@mixin component-base {
    display: block;
    position: relative;
    box-sizing: border-box;

    font-family: var(--bs-font-sans-serif);
}

@mixin flexy($main-axis, $cross-axis, $direction: row, $flex-type: flex) {
    display: $flex-type;
    justify-content: $main-axis;
    align-items: $cross-axis;
    flex-direction: $direction;
}