html, body {
    height: 100vh;

    width: 100%;

    margin: 0;
    padding: 0;

    overflow-x: hidden;

    hyphens: none;
}

*, *:before, *:after {
    box-sizing: border-box;
}



html {
    background-color: blue;
}